.center-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.justify-text {
    text-align: justify;
}

.center-text {
    text-align: center;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}